.page-header
  z-index 1
  max-width 1356px
  position fixed
  display flex
  justify-content space-between
  padding-top 43px
  margin auto
  left 0
  right 0

  &__logo-img
    &:hover
      color #0DD1A2

.main-nav
  &__list
    padding 0 50px 0 50px
    display flex
    text-transform uppercase
    letter-spacing 0.05em

  &__item
    position relative
    margin-left 15px
    margin-right 15px

  :not(:last-child)
    &:before
      content ''
      position absolute
      background-size cover
      background-repeat no-repeat
      background-image url("../../img/navigation-dot.svg")
      width 8px
      height 8px
      right -18px
      top 10px

  a
    display inline-block
    vert-align middle
    padding 5px 10px
    &:hover
      border 2px solid #0DD1A2
      padding 3px 8px

.user-capabilities
  &__button
    font-weight bold
    font-size 14px
    line-height (16 / 14)
    padding 5px 10px

  &__phone
    padding 5px 10px

