.page-header
  display flex
  justify-content space-between
  padding-left 64px
  padding-top 43px
  padding-right 64px

.main-nav__list
  display flex

  .main-nav__item
    padding-left 15px
    padding-right 15px

  .main-nav__link
    padding 10px



