.main-background
  background-color grey
  max-width  1366px
  max-height  768px
  background-image url("../../img/intro-background.png")
  background-size cover
  background-repeat no-repeat
  margin-left auto
  margin-right auto
