.product
  position relative
  height 90vh
  padding-top 150px
  padding-left 90px

  &__title
    margin-top 0

  &__description
    max-width 440px
    padding-top 57px
    font-weight: 300
    font-size 17px
    line-height (25 / 17)

  &__gallery
    position absolute
    right 93px
    bottom 50px

.carousel

  &__title
    margin 0
    position absolute

  &__image
    display block
    width 562px
    height 300px
