.questions
  &__container
    padding 150px 0 85px 120px
    max-width 904px

  &__list
    padding-top 40px

  &__page-down-container
    display flex

  &__decorative-img-container
    position relative

  &__decorative-img
    width 235px
    height 264px
    position absolute
    right 45px
    bottom 0
    background-image url("../../img/question-decorative-img.png")
    background-size cover
    background-repeat no-repeat
