.technologies
  position relative
  padding-top 150px
  padding-left 90px

  &__list
    display flex
    flex-wrap wrap
    max-width 1000px

.technology
  max-width 400px

  &__title
    font-weight 600
    font-size 21px
    line-height (24 / 21)

  &__description
    font-weight 300
    font-size 15px
    line-height (19 / 15)
