.questions
  display flex
  flex-direction column

  &__item
    min-height 100%
    padding 0 0 5px 0

.question
  display flex
  flex-direction column

  &__container
    max-height 68px
    display flex
    align-items center
    justify-content space-between
    background-color #ffffff
    color #444
    cursor pointer
    width 100%
    border none
    text-align left
    outline none
    font-size 15px
    transition 0.4s
    +width-between(769, 1024)
      max-height 56px

  &__title
    position relative
    padding-left 45px
    max-width 832px
    font-weight 500
    font-size 17px
    line-height ( 28 / 21)
    +width-between(769, 1024)
      font-size 14px

    &:before
      content ''
      position absolute
      background-size cover
      background-repeat no-repeat
      background-image url("../../img/question-title-dot.svg")
      width 8px
      height 8px
      left 24px
      top 8px

  &__text-container
    max-width 940px
    color black
    min-height 100%
    padding -4px 18px 9px 18px
    margin-top 0
    background-color: white
    max-height 0
    overflow hidden
    transition max-height 0.2s ease-out

  &__text
    margin 0
    font-weight 300
    font-size 15px
    line-height 1.5
    padding 0 210px 15px 60px

  &__button
    padding 0
    cursor pointer
    position relative
    min-width 72px
    min-height 68px
    border none
    background-color #15B38D
    +width-between(769, 1024)
      min-width 60px
      min-height 56px
    @media (min-width 768px) and (max-width 1023px)
      background-color red
    +width-morethan(1440)
      background-color saddlebrown
    @media (min-width 1440px)
      background-color #15B38D
     +width-lessthan(1024)
      background-color yellowgreen
    @media (min-width 768px) and (max-width 1023px)
      background-color blue

  &__button-img
    top 22px
    left 24px
    position absolute
    width 26px
    height 26px
    background url('../../img/plus.svg') 0 50% no-repeat
    transition transform 0.3s
    +width-between(769, 1024)
      top 16px
      left 19px

    &--active
      transform rotate(50deg)
