.carousel
  position relative
  width 562px
  margin 0 auto
  text-align center

  &__images img
    width 100%
    display none

  &__images img:first-child
    display block

  &__manage-container
    width 100%
    display flex

  &__manage
    display flex
    margin-left auto

  &__count-container
    display flex
    align-items center
    padding 0 20px

  &__count
    font-weight 500
    font-size 18px
    line-height 1.1

  &__buttons
    background-color #1c1c1c

  &__title
    width 190px
    position absolute
    bottom 90px
    left -114px

    font-weight 500
    font-size 24px
    line-height 1.1

  &__button-left,
  &__button-right
    display inline-block
    margin 0
    border none
    padding 10px 20px
    background-color #1c1c1c



